body {
  font-family:'verdana';
  padding-top: 60px;
  padding-bottom: 60px;
}

#results {
  border-collapse: collapse;
  width: 60%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#banner{
  height:150px;
  width:100%;
}

#banner, img{
  text-align:center;
}

table, th, td {
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
    }