body {
  font-family:'verdana';
  padding-top: 60px;
  padding-bottom: 60px;
}

#results {
  border-collapse: collapse;
  width: 60%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#banner{
  height:150px;
  width:100%;
}

#banner, img{
  text-align:center;
}

table, th, td {
      border-collapse: collapse;
      border: 1px solid #ddd;
      text-align: center;
      padding: 5px;
    }

tr:hover {background-color: #5194ff;}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

th {
    background-color: #c0cadb;
    color: white;
}